flask==2.3.3
pandas==2.2.2
numpy==1.26.4
requests==2.31.0
python-dotenv==1.0.0
ta==0.10.2  # Si falla, comenta esta línea y prueba sin ta
pydantic==2.5.3
gunicorn==21.2.0
scipy==1.10.1
flask-cors==4.0.0
setuptools==71.1.0